* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  font-family: futura;
}

@font-face {
  font-family: futura;
  src: url(./Futura-Bold.ttf);
}

#cursor {
  height: 150px;
  width: 150px;
  background-color: rgba(255, 0, 234, 0.75);
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 9;
}
#nav {
  width: 100%;
  position: fixed;
  z-index: 2;
  padding: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#nav-part1 {
  height: 83px;
  overflow: hidden;
}
#nav-part1 svg {
  display: block;
}
#nav-part2 {
  display: flex;
  gap: 50px;
}
#nav-part2 #atags a {
  text-decoration: none;
  font-size: 14;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 20px;
  font-family: futura;
}
#atags {
  padding: 10px;
}
#icon {
  padding: 10px;
  background-color: white;
  border-radius: 50px;
}
#nav-part2 #icon i {
  margin: 0 20px;
  font-weight: 500;
  font-size: 18px;
}
#main{
  overflow: hidden;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  padding: 0 1.5vw;
  position: relative;
  padding-top: 20vh;
}
#page1 h1 {
  font-size: 15.9vw;
  line-height: 14vw;
  font-family: futura;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: -10px;
}

#video-div {
  height: 100vh;
  width: 100%;
  border-radius: 15px;
  margin-top: 1vw;
  overflow: hidden;
  position: relative;
}
#video-div video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#video-div #play {
  padding: 3vw 2vw;
  position: fixed;
  font-weight: 100;
  background-color: black;
  color: white;
  font-size: 2vw;
  font-family: futura;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page2 .pic {
  height: 100%;
  width: 32%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 .pic img {
  height: 100%;
  width: 100%;
  scale: 1.2;
  object-fit: cover;
}
#page2 .pic .details {
  height: 5vh;
  width: 60%;
  z-index: 9;
  padding: 2%;
  border-radius: 50px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.8);
  background-color: palegoldenrod;
  transition: all ease 0.5s;
  position: absolute;
}
#page2 .pic .details:hover {
  height: 25vh;
}
#page2 .pic .details h2 {
  font-size: 12px;
  opacity: 0.7;
}
#page2 .details .upper {
  padding: 1.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 6px;
}
#page2 .pic .details .lower {
  margin-top: 15px;
  height: 85%;
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
}
#page2 .pic .details .lower h6 {
  margin-left: 20px;
  width: 80%;
  opacity: 0.7;
  text-align: center;
}
#page2 .pic .details .lower img {
  height: 70%;
  width: 50%;
  margin-left: 50px;
  object-fit: cover;
}
#page25 {
  height: 60vh;
  width: 100%;
  display: flex;
}
#page25 #left {
  padding: 3%;
  height: 100%;
  width: 70%;
}

#page25 #right {
  padding: 3%;
  height: 100%;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
#page25 #right p{
  font-size: 18px;
  color: black;
}
#page25 #right #shop{
  border-bottom: 1px solid black;
  cursor: pointer;
}
#page25 #left h2{
  font-size: 5vh;
  margin-top: 10%;
  width: 80%;
}

#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#page3 .product {
  height: 55vh;
  width: 40vw;
  text-align: center;
  align-items: center;
  position: relative;
}
#page3 .product img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}
#page3 .product h6{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
}
#page3 .product button{
  padding: 1% 2%;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}
#page4 {
  height: 90vh;
  width: 100%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#page4 #click{
  width: 90%;
  display: flex;
  align-items: center;
  gap: 12%;
  overflow: auto;
}
#page4 #click h3{
  font-family: cursive;
  font-weight: 900;
  font-size: 26px;
}
#page4 ::-webkit-scrollbar{
  display: none;
}
#page4 #paragraph{
  width: 75%;
  color: rgb(0, 0, 0);
  /* height: 50%; */
  text-align: center;
  overflow: hidden;
}
#page4 #paragraph h1{
  font-size: 3.3vw;
}
#page4 button{
  padding: 1.2% 3%;
  background-color: black;
  color: white;
  border-radius: 50px;
}
#page4 button:hover{
  background-color: rgb(39, 39, 39);
}
#page4 p{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  

#page5{
  height: 100vh;
  width: 100%;
  padding: 4% 2%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page5 .people{
  height: 100%;
  width: 32%;
  overflow: hidden;
}
#page5 #people1 p{
  width: 80%;
  margin-top: 7%;
  font-size: 17px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#page5 #people1 h2{
  font-size: 30px;
}

#page5 #people1 #here{
  width: 40%;
  border-bottom: 1px solid black;
  cursor: pointer;
}
#page5 .people img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page6{
  padding: 3%;
  position: relative;
  height: 100vh;
  width: 100%;
}
#page6 input{
  height: 5%;
  width: 100%;
  font-size: 3vw;
  padding: 2%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}
#page6 #wrapper{
  height: 40%;
  width: 100%;
  margin-top: 7%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page6 #wrapper a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: black;
}
#page6 #wrapper h6{
  font-size: 16px;
  font-weight: 300;
}
#page6 #wrapper svg{
  scale: 5;
}
#page6 #wrapper #w1{
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#page6 #wrapper #w3{
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#page6 #footer{
  margin-top: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#page6 #footer p{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  width: 70%;
}




/* =========== RESPONSIVE ============= */

@media (max-width: 600px) {
  #main{
    overflow: hidden;
  }
  #page1 h1 {
    font-size: 15.5vw;
    letter-spacing: -2px;
  }
  #page1 {
    min-height: 70vh;
    padding: 0 2vw;
    padding-top: 25vh;
  }
  #video-div {
    height: 27vh;
    margin-top: 3vw;
  }
  #video-div #play {
    left: 50%;
    top: 50%;
    font-weight: 500;
    padding: 7vw 4.5vw;
    position: absolute;
    font-size: 4.5vw;
    transform: translate(-50%, -50%);
    opacity: 1;
    scale: 1;
  }
  #page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #page2 .details{
    height: 27vh;
  }
  #page2 .pic .upper{
    margin-top: 2px;
  }
  #page2 .pic {
    height: 100%;
    width: 100%;
    margin-bottom: 3vw;
    overflow: hidden;
  }
  #page2 .pic .details .lower img {
    height: 60%;
    width: 40%;
    margin-left: 30%;
    object-fit: cover;
  }
  #page2 .pic .details:hover {
    height: 25vh;
    border-radius: 15px;
  }
  

  #page25 {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #page25 #left {
    padding: 2%;
    height: 30vh;
    width: 100%;
  }
  #page25 #left h2{
    text-align: center;
    font-size: 35px;
    width: 100%;
  }
  #page25 #right {
    padding: 3%;
    height: 60vh;
    width: 100%;
    text-align: center;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
  }

  #page3 .product {
    height: 55vh;
    width: 90vw;
    padding: 15vw;
    align-items: center;
    position: relative;
  }
  #nav-part1 {
    height: 65px;
  }
  #nav-part1 svg {
    height: 65px;
  }

  #nav-part2 #atags a {
    display: none;
  }
  #page4 #click h3{
    font-size: 5vw;
  }
  #page4 #paragraph{
    width: 90%;
  }
  #page4 #paragraph h1{
    font-size: 6vw;
  }  

  #page5{
    height: 100vh;
    width: 100%;
    padding: 4% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #page5 .people{
    height: 100vh;
    width: 100%;
    gap: 10px;
    overflow: hidden;
  }
  #page5 #people1{
    margin-top: 140%;
    position: absolute;
  }
  
  #page5 .people img{
    height: 40%;
    width: 98%;
    object-fit: cover;
  }
  #page5 #people1 #here{
    width: 50%;
    border-bottom: 1px solid black;
    cursor: pointer;
  }
  
  


  #page6 #wrapper svg{
    scale: 3;
    position: absolute;
    left: 40%;
    top: 20%;
  }
  #page6 #wrapper{
    margin-top: 52%;
  }
  #page6 #footer p{
    margin-top: -60px;
    width: 100%;
  }
  
}
